@page "/Play"
@rendermode InteractiveWebAssembly
@using BlazorPorfolio.Models
@inject NavigationManager NavigationManager
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage


<h3>Play</h3>
<button class="btn btn-primary" @onclick="LoadFlashcards">Load Cards</button>
<ul>
    @foreach (var card in flashcards)
    {
        <li>
            @card.FrontText
            @card.BackText
            @card.Id
        </li>
    }
    @if (flashcards.Any())
    {
        <p>@flashcards[0].FrontText</p>
    }
</ul>

@code {
    private List<Flashcard> flashcards = new List<Flashcard>();

    private async Task LoadFlashcards()
    {
        flashcards = await LocalStorage.GetItemAsync<List<Flashcard>>("flashcards") ?? new List<Flashcard>();

        StateHasChanged();
    }
}
